.section--faq{
	background-color: #100122;
}
.grid--faq .grid__title{
	font-size:36px;
	line-height:46px;
	font-weight:700;
	padding:10px 0 20px 0;
	margin:0px;
	position:relative;
}
.grid--faq .grid__text{
	font-size:18px;
	color:#848484;
	line-height:26px;
}
.grid--faq .grid__list{
	padding:20px 0 0 0;
}
.grid--faq .grid__list li{
	background:url(/assets/images/etc/checked-pricing-white.png) no-repeat 0 50%;
	font-size:18px;
	padding:10px 0 10px 40px;
}
.faq{
	width:100%;
	margin:auto;
}
.faq__item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom:1px #f7f8f9 solid;
}
.faq__input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.faq__label {
  position: relative;
  display: block;
  cursor: pointer;
  padding:20px;
  font-size:18px;
  font-weight:300;
      -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.faq__content {
  max-height: 0;
  overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
	background-color: #100122;
}
.faq__content p {
  padding:20px;
  font-size:16px;
}
.faq__input:checked ~ .faq__content {
  max-height: 300px;
}
.faq__input:checked ~ .faq__label,  .faq__label:hover{
  background: linear-gradient(60deg, #6b2cdb, #884ddf);
  color:#fff;
}
.faq__label:hover span{
  transform: rotateX(180deg);
  background:url(/assets/images/etc/drop-down.png) no-repeat center;
}
.faq__label span {
  position: absolute;
  right: 2%;
  top: 45%;
  display: block;
  width: 11px;
  height: 6px;
  text-align: center;
  background:url(/assets/images/etc/drop-down.png) no-repeat center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.faq__input[type=radio]:checked + .faq__label span {
  transform: rotateX(180deg);
  background:url(/assets/images/etc/drop-down.png) no-repeat center;
}

