/* Global Styles */

:root {
    --main-orange: #ffab2c;
    --black: #1d1d1d;
    --very-dark-gray: #0f0f0f;
    --dark-gray: #353535;
    --nexa-bold: 'Nexa Bold', sans-serif;
    --nexa-light: 'Nexa Light', sans-serif;
    --integral-regular: 'Integral CF Regular', sans-serif;
    --integral-bold: 'Integral CF Bold', sans-serif;
    --akira: 'Akira Expanded Demo', sans-serif;
}

.faq-item {
    margin: 20px 0;
}

.toggle-btn {
    background: #f1f1f1;
    color: #333;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-content p {
    padding: 10px;
}

.active .faq-content {
    max-height: 500px;
    transition: max-height 0.2s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Hero Section */

.hero {
    background-image: url('/images/leak.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .content {
    width: 700px;
    margin: 0 auto;
    transform: translateY(5vh);
    text-align: center;
}

.hero .content h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--integral-bold);
    letter-spacing: 1px;
}

.hero .content h1 span {
    font-size: 61px;
    font-family: var(--akira);
    color: var(--main-orange);
}

.hero .content p {
    opacity: 0.7;
}

.hero .content .btn-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.hero .content .btn-box .btn2 {
    padding: 17px 34px;
    font-family: var(--nexa-bold);
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--main-orange);
}

.hero .content .btn-box .btn2 i {
    margin-left: 10px;
}

/* Section 2 */

.section-2 {
    position: relative;
}

.section-4 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, 0);
}

.arrows .arrows-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: seagreen;
}

#arrow1 {
    width: 30%;
    top: -90px;
    position: relative;
}

.arrows .arrows-box span {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .content {
    position: relative;
    padding: 300px 0;
    text-align: center;
}

.section-2 .replace-img {
    margin: 0 auto;
    width: 80%;
}

.section-2 .content img {
    width: 200px;
}

.section-2 .content .item {
    text-align: center;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 50px;
}
.dropDown {
    position: static;
}