@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header nav ul li a {
    color: white;
    font-size: 13pt;
}

#header nav ul li a:hover {
    color: var(--gold);
}

#textParagraph {
    font-family: "TitilliumWeb-Regular";
    color: white;
}

section#banner {
    background-image: url("../../images/landing.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 150px;
}

section#banner div#main {
    position: relative;
    top: 100px;
}

section#banner h6 {
    text-align: center;
    color: white;
}

section#banner div#form {
    width: 70%;
    margin: 0 auto;
}

div#form input,
div#form button#submit {
    width: 100%;
    font-family: "TitilliumWeb-Regular";
}

div#form input {
    border: 1px solid #686868;
    color: white;
    margin-bottom: 20px;
}

div#form #submit {
    font-family: "TitilliumWeb-Regular", sans-serif;
    background-color: #ffba00;
    outline: none;
    color: #100122;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    transition: all 0.2s ease-out;
}

div#form #submit:hover {
    cursor: pointer;
}

div.redeem-box {
    margin: 0 auto;
    border-color: white;
    background-color: #000000d6;
}

div.redeem-box button {
    color: white !important;
}
