/* Resizing animated text */
.intro__title span {
    font-size: 60px;
}


/* Video PopUp */
.modal__header {
    background: linear-gradient(#e78f3f, #fbae23) !important;
}

.modal__wrapper {
    background-color: #100122 !important;
}

.modal__image {
    text-align: center;
}

.tutorial-video {
    padding-top: 3%;
}

.modal__close {
    border: 2px solid #fff;
}

/* Displaing Purchase Button On Phone Instead Of Discord Server Button */
.phone-display-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .phone-display-btn {
        display: block;
        border: #6c2dda 2px solid;
    }

    .phone-display-btn:hover {
        color: white;
        background-color: #6c2dda;
    }

    .phone-none-btn {
        display: none;
    }
}

/* Block Sale Notifcation On Extra Small Devices */
@media screen and (max-width: 376px) {
    .notifcation-sale {
        display: none;
    }
}

/* Block Large Sale Text On Small Devices */
@media screen and (max-width: 600px) {
    .sale-text {
        display: none;
    }
}