.section--intro {
    width: 100%;
    height: 100%;
    background-color: #4916d7;
    background: -webkit-linear-gradient(60deg, #4916d7, #be94f8);
    background: linear-gradient(60deg, #e78c41, #f2b32e);
    background: linear-gradient(60deg, #ffba00, #eda438);
    position: relative;
    overflow: hidden;
}

.section__content--intro {
    height: 100%;
}

.intro {
    width: 80%;
    float: left;
    padding: 15% 0 0;
    position: relative;
    z-index: 777;
}

.intro__content {
    width: 100%;
    text-align: left;
}

.intro__title {
    padding: 0 0 15px;
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -2px;
    font-weight: 700;
    float: left;
}

.intro__title span {
    color: #100122;
}

.intro__title strong {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    color: #fff;
}

.intro__title__words-animation {
    position: relative;
    width: 300px;
    float: left;
}

.word {
    position: absolute;
    width: auto;
    opacity: 0;
    top: 0;
    left: 0;
    text-align: left;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.intro__subtitle {
    padding: 0 0 40px;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    width: 50%;
    clear: both;
    letter-spacing: 0.4px;
}

.intro__description {
    padding: 0 0 40px;
    font-size: 20px;
    color: #fff;
}

.intro__description span {
    font-weight: 300;
    font-size: 40px;
    color: #06fcd7;
}

.intro__buttons {
    padding: 20px 0 0;
}

.intro__buttons--centered {
    width: 100%;
    clear: both;
    text-align: center;
}

.intro__buttons--left {
    width: 100%;
    clear: both;
    text-align: left;
}

svg.svg-intro-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
}

svg.svg-intro-bottom-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
}

svg.svg-intro-bottom-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 222;
}

.intro-animation {
    width: 50%;
    height: 70%;
    float: right;
    text-align: right;
    position: absolute;
    bottom: 2%;
    right: 0;
    z-index: 555;
}

.intro-animation img {
    display: block;
    margin: auto;
    max-height: 100%;
    opacity: 0;
    animation: 0.8s ease-out 0s 1 slideInFromBottom;
    -webkit-animation: 0.8s ease-out 0s 1 slideInFromBottom;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromBottom {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

.intro-animation img {
    margin-left: 200px;
}

.intro__subtitle-href {
    color: #fff;
}

.intro__subtitle-href:hover {
    color: #100122;
    cursor: pointer;
}

@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

input#upgradekey,
input#password {
    border: none;
    outline: none;
    font-family: "TitilliumWeb-Regular", sans-serif;
    background-color: #00000045;
    width: calc(60% - 6px);
    height: 44px;
    padding: 0;
    font-size: 16px;
    display: block;
    text-indent: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px #190823 solid;
    color: #100122;
}

input#email {
    border: none;
    outline: none;
    font-family: "TitilliumWeb-Regular", sans-serif;
    background-color: #00000045;
    width: calc(60% - 6px);
    height: 44px;
    padding: 0;
    font-size: 16px;
    display: block;
    text-indent: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px #190823 solid;
    color: #100122;
}

select option {
    text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
    .intro {
        padding: 26% 0 keyinfo-refresh-btn0;
    }

    @media only screen and (max-width: 600px) {
        .keyinfo-intro {
            padding: 45% 0 0;
        }

        .keyinfo-refresh-btn {
            width: 78% !important;
        }
    }
    .intro__title {
        padding: 0 0 18px;
        line-height: 65px;
    }

    input#upgradekey {
        width: calc(60% + 3.32px);
    }

    input#email {
        width: calc(60% + 3.32px);
    }
}

input#upgradekey:focus {
    box-shadow: #000 4px 3px 5px 0;
}

input#email:focus {
    box-shadow: #000 4px 3px 5px 0;
}

::placeholder {
    color: #100122;
    text-transform: capitalize;
}

select#countryoptions {
    display: block;
    font-family: quicksand, sans-serif;
    border: none;
    outline: none;
    width: 60%;
    border-radius: 10px;
    height: 50px;
    background-color: transparent;
    border: 3px #190822 solid;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    color: #100122;
    text-indent: 25px;
    box-shadow: #000 2px 1.5px 2.5px 0;
}

@media only screen and (max-device-width: 480px) {
    select#countryoptions {
        width: 67% !important;
    }

    button#submitBTN {
        width: 68% !important;
    }

    #submit {
        font-family: quicksand, sans-serif;
        background-color: #ffba00;
        border: none;
        outline: none;
        color: #100122;
        width: 60%;
        height: 45px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        border: 2px #190822 solid;
        box-shadow: #000 0 0 9px 0;
        display: block;
        transition: all 0.2s ease-out;
    }

    #submit:hover {
        color: #ffba00;
        background-color: #100122;
        cursor: pointer;
    }

    .intro-animation img {
        margin-left: 185px !important;
    }
}

select#countryoptions:focus {
    box-shadow: #000 4px 3px 5px 0;
}

select option {
    font-family: quicksand, sans-serif;
    background-color: #100122 !important;
    color: #fff;
    font-weight: 505;
}

button#submitBTN {
    font-family: quicksand, sans-serif;
    background-color: #ffba00;
    border: none;
    outline: none;
    color: #100122;
    width: 60%;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    border: 2px #190822 solid;
    box-shadow: #000 0 0 9px 0;
    display: block;
    transition: all 0.2s ease-out;
}

button#submitBTN:hover {
    color: #ffba00;
    background-color: #100122;
    cursor: pointer;
}

.keyinfo-refresh-btn {
    font-family: quicksand, sans-serif;
    background-color: #ffba00;
    border: none;
    outline: none;
    color: #100122;
    width: 60%;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    border: 2px #190822 solid;
    box-shadow: #000 0 0 9px 0;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    transition: all 0.2s ease-out;
}

.keyinfo-refresh-btn:hover {
    color: #f9b212;
    font-weight: bold;
    background-color: #100122;
    cursor: pointer;
    border: 2px #f9b212 solid;
}

.redeem-box {
    background-color: #100122;
    border-radius: 18px;
    padding: 20px;
    color: #fff;
    width: 420px;
    max-width: 80%;
    text-align: center;
    box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, 0.445);
}

.info-head {
    font-size: 17px;
    font-weight: 700;
    /* font-family:source sans pro,sans-serif; */
    text-decoration: underline;
    text-align: center;
    /*	padding-bottom:4px */
}

a#inviteurl {
    color: #ffba00;
    font-size: 15px;
    font-weight: 700;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, liberation mono,
    courier new, monospace;
    text-decoration: none;
    transition: all 0.1s ease-out;
}

a#inviteurl:hover {
    color: #f05038;
}

#address {
    border: none;
    background: none;
    color: #ffba00;
    font-size: 15px;
    font-weight: 700;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, liberation mono,
    courier new, monospace;
    text-decoration: none;
    text-align: center;
    transition: all 0.1s ease-out;
}

#address:hover {
    color: #f05038;
}

.pad-bot {
    padding-bottom: 20px;
}

.pad-top {
    padding-top: 20px;
}

.contact-url {
    color: #100122;
    text-decoration: none;
    font-weight: 700;
}

.contact-url:hover {
    color: #6d2eda;
}

h1.cs-h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 38vh;
    font-size: 50px;
    color: #ffba00;
    font-weight: 700;
    text-transform: uppercase;
}

a.cs-fake-btn {
    color: #100122;
    background-color: #ffba00;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 6px 6px #000;
    display: block;
    height: 50px;
    width: 400px;
    max-width: 65%;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 20px;
    border: 3px #ffba00 solid;
}

a.cs-fake-btn:hover {
    cursor: pointer;
    background-color: #100122;
    color: #fff;
    border: 3px #ffba00 solid;
}

.reseller-btn {
    color: #f3ab27;
    background-color: #100122;
    border: 2px #100122 solid;
}

.reseller-btn:hover {
    background: 0 0;
    border: 2px #100122 solid;
}

.selected {
    color: #ffba00 !important;
}

.disabled-btn {
    cursor: no-drop !important;
    background: #100122 !important;
    color: #ffba00 !important;
}

.disabled-btn:hover {
    cursor: no-drop !important;
    background: #100122 !important;
    color: #ffba00 !important;
}

/* Replacement */

.replacement-form {
    background-color: #100122;
    border-radius: 23px;
    padding: 20px;
    color: #fff;
    border: 4px #6d2eda solid;
    height: 55%;
    max-height: 80%;
    width: 420px;
    max-width: 80%;
    text-align: center;
    box-shadow: 2px 2px 18px 3px #000;
}

.replacement-btn {
    outline: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 55px;
    width: 80%;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffba00;
    border: #100122 solid 3px;
    transition: all 0.3s ease-out;
    color: #100122;
    margin: 0 auto;
    margin-bottom: 8px;
}

.replacement-btn:hover {
    background-color: #100122;
    border-color: #ffba00;
    color: #ffba00;
}

.signout-btn {
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/* KeyInfo */
p#email {
    color: #ffba00;
    font-size: 15px;
    font-weight: 700;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, liberation mono,
    courier new, monospace;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

@media only screen and (max-device-width: 750px) {
    .small-gap {
        padding: 2px;
    }

    .info-head {
        padding-bottom: 4px;
    }
}
